* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-family: 'roboto', sans-serif;
}
body {
    background: rgb(68, 68, 68);
    font-family: Arial, Helvetica, sans-serif;
}
.header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding: 25px;
    border-bottom: 1px solid #000;
    gap: 100px;

}
.logo {
    height: 60px;
}
.pai {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding: 25px;
    border-bottom: 1px solid #000;
    gap: 100px;
}
#son1 {
    display: block;
    flex: row;
    align-items: center;
    justify-content: space-around;
    padding: 30px;
    gap: 100px;
    
}
.formu {
    width: 500px;
    margin: 50px auto 0;
}
.formu label {
    display: block;
    margin-top: 25px;
}
#fieldform{
    background: #2ac004;
    border-radius: 30px;
}
#nome, #mail {
    display: block;
    width: 420px;
    box-sizing: border-box;
    font-size: 45px;

}
#nome {
    margin-top: 25px;
    margin-bottom: 15px;
}
#mail{
    margin-top: 25px;
}
#btn {
    height: 100px;
    width: 420px;
    background-color: #a6b80a;
    color: #fff;
    font-weight: 700;
    font-size: 30px;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    margin-top: 25px;
    margin-bottom: 25px;
    
    
}
#btn:hover {
    background-color: #2ac004;
}

#son2 {
    display: block;
    flex: row;
    align-items: center;
    justify-content: space-around;
    padding: 30px;
    gap: 100px;
    
}
#brogo {
    height: 600px;
}
